.mini-image-preview-container {
	position: relative;
	height: 95%;
	margin: 5px 10px;
	margin-bottom: 10px;
	& * {
		transition: 0.5s;
	}
	.mini-image-preview-mover {
		position: absolute;
		background: transparent;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		.mini-image-movers {
			position: absolute;
			transform: translateY(-30%);
			font-size: 1.5rem;
			border: none;
			height: 32px;
			width: 32px;
			background-color: rgb(255, 255, 255);
			box-shadow: 1px 1px 7px 1px #aaa;
			color: rgb(100, 100, 100);
			padding: 5px;
			text-align: center;
			border-radius: 4px;
			line-height: 8px;
			outline: none;
			&:hover {
				background-color: rgb(255, 234, 166);
			}
		}
		.mover-left {
			left: -7px;
			top: 60%;
		}
		.mover-right {
			right: -7px;
			top: 60%;
		}
	}
	.mini-image-preview-close {
		height: 29px;
		width: 29px;
		font-size: 0.8rem;
		border: none;
		border-radius: 50%;
		background-color: rgb(250, 43, 43);
		color: white;
		right: 0;
		top: -2px;
		outline: none;
		position: absolute;
		z-index: 100;
	}
	.mini-image-preview-close:hover {
		background-color: red;
	}

	.mini-image-preview {
		max-height: 99%;
		width: auto;
		margin: 5px;
		cursor: pointer;
		border: 2px solid transparent;
	}

	.mini-image-preview.selected {
		border: 2px solid #444;
		box-shadow: 1px 1px 5px 1px #555;
	}

	&:hover .mini-image-preview {
		border: 2px solid #444;
	}
}
